/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Philosopher;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto; /* Center the main content horizontally */
    padding: 20px;
    background-color: #ffffff;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background: #f6d33c
}

section p {
    font-size: 16px;
    margin-top: 5px;
}

/* Add a class to center-align text within sections */
.center-text {
    text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    header h1 {
        font-size: 20px;
    }
}
